@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --font-family: var(--font-family);

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

// Scrollbar css
html *::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
}

html *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .15);
    border-radius: 4px;
}

html *::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Font embeded
@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url(/assets/fonts/TikTokDisplayFont-Bold.woff2);
    font-weight: 700;
}

// Custom Tippy Tooltip Styles
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
